:root {
  --primary-color: #F66D9B;
}

/* TEXT */
.text-pink {
  color: var(--primary-color);
}

/* BTN */
.btn-light {
  background-color: #fff;
  color: var(--primary-color);
}

/* Home page */
.header--home {
  min-height: 70vh;
  background-image: url("../storage/assets/home-page/header-bg.jpg");
  background-size: cover;
  background-position: 50% 0;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
}
.header--home::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: -10%;
  width: 200%;
  height: 125px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.bg--color {
  position: absolute;
  top: -20%;
  left: -60%;
  height: 140%;
  width: 160%;
  background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 55%, rgba(246,109,155,1) 100%);
  opacity: .7;
}
.header--sentence {
  bottom: 0;
  right: 10px;
  font-style: italic;
  font-size: .7rem;
  z-index: 2;
}
/* Logo */

.logo {
  width: 70px;
}

/* Carousel */
.carousel-wrap {
  position: relative;
}
.carousel-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: linear-gradient(rgba(255, 255, 255, .6) 90%, rgba(248, 249, 250, 1) 95%);
  z-index: 10;
}
.slider-image {
  height: 75vh;
  background-position: center;
  background-size: cover;
}

/* Carousel reviews */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
.pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--pink);
  font-size: 5rem;
  opacity: 0;
  transition: opacity .5s ease-in;
}
.pause-icon.active {
  opacity: .5;
}

/* Table */
.table thead th,
.table th,
.table td {
  border-color: var(--pink);
}
.table thead th {
  border-top: none;
}

/* Social media */
.socials-box {
  position: fixed;
  bottom: 35px;
  right: -55px;
  transform-origin: bottom center;
  transform: rotate(-45deg);
  background-color: #3b5998;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  box-shadow: 0 0 3px 0 #333;
  z-index: 99;
}
.socials-box a {
  color: #ffffff;
  padding: 1px 45px;
}

/* Cookie consent */
.cookie-consent {
  position: sticky;
  bottom: 0;
  background-color: var(--pink);
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  box-shadow: 0 0 1rem 0 #333;
}
.js-cookie-consent-agree {
  background-color: #3b5998;
  border: none;
  border-radius: .2rem;
  color: #fff;
  margin: 0 1rem;
}

/* Masonry */
.grid {
  width: 100%;
}
.grid-item {
  margin: 20px 0;
}

@media (min-width: 576px) {
  .grid {
    width: 500px;
    margin: 0 auto;
  }
  .grid-sizer {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .grid {
    width: 1000px;
  }
  .grid-sizer,
  .grid-item {
    width: 400px;
    margin: 20px 50px;
  }
}
