
body {
    min-width: 270px;
    min-height: 100vh;
}
.bg-pink {
  background-color: var(--pink);
}
.bg-transparent-pink {
  background-color: rgba(246, 109, 155, .5);
}
.border-pink {
  border-color: var(--pink) !important;
}
.btn-pink {
  background-color: #f66d9b;
}
.btn-pink:hover {
  background-color: #d55c8a;
}
.btn-bg-none {
  background: none;
}
.btn-label {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 0 10px 0 rgb(88, 88, 88);
}
.btn-shadow-light {
  box-shadow: 0 0 5px 0 rgb(241, 241, 241);
}
.box-shadow-pink {
  box-shadow: 0 0 10px 0 var(--pink);
}
.text-underline {
  text-decoration: underline;
}
.title-decor {
  position: relative;
  display: inline-block;
}
.title-decor::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 2px solid pink;
}

/* Home page */
.header-subtitle {
  font-size: 1.1em;
}

/* Logo */

.logo {
  width: 70px;
}

/* Carousel */
.carousel-wrap {
  position: relative;
}
.carousel-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: linear-gradient(rgba(255, 255, 255, .6) 90%, rgba(248, 249, 250, 1) 95%);
  z-index: 10;
}
.slider-image {
  height: 75vh;
  background-position: center;
  background-size: cover;
}

/* Carousel reviews */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
.pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--pink);
  font-size: 5rem;
  opacity: 0;
  transition: opacity .5s ease-in;
}
.pause-icon.active {
  opacity: .5;
}

/* Table */
.table thead th,
.table th,
.table td {
  border-color: var(--pink);
}
.table thead th {
  border-top: none;
}

/* Social media */
.socials-box {
  position: fixed;
  bottom: 35px;
  right: -55px;
  transform-origin: bottom center;
  transform: rotate(-45deg);
  background-color: #3b5998;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  box-shadow: 0 0 3px 0 #333;
  z-index: 1500;
}
.socials-box a {
  color: #ffffff;
  padding: 1px 45px;
}

/* Cookie consent */
.cookie-consent {
  position: sticky;
  bottom: 0;
  background-color: var(--pink);
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  box-shadow: 0 0 1rem 0 #333;
}
.js-cookie-consent-agree {
  background-color: #3b5998;
  border: none;
  border-radius: .2rem;
  color: #fff;
  margin: 0 1rem;
}

/* Masonry */
.grid-sizer,
.grid-item {
  width: 100%;
  margin: 1rem 0;
  padding: 0 .5rem;
}

@media (min-width: 576px) {
  .grid-sizer,
  .grid-item {
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: calc(25% - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 2500px) {
  .grid-sizer,
  .grid-item {
    width: calc(10% - 3rem);
    margin: 1.5rem;
  }
}
